body {
	text-align: center;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.character {
	display: inline-block;
	margin-left: 15px;
}

.gif {
	vertical-align: top;
	margin-top: 15px;
}

p {
	vertical-align: top;
	margin-top: 15px;
}

/* Social Icons */

.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
	color: white;
}