body {
	text-align: center;
	background-image: url("../images/background.jpg");
	background-position: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: white;
}

h1 {
	font-family: 'Droid Serif', serif;
	font-size: 40px;
	color: white;
	margin: 15px;
}

button {
	background-color: #B7C68B;
	margin: 15px;
}

button:hover {
	color: #DED29E;
}

label {
	margin: 15px;
}

#addGif:hover {
	color: #DED29E;
}

#gif-input {
	color: black;
}

#addGif {
	background-color: #B7C68B;
	margin: 15px;
}

.character {
	display: inline-block;
	margin-left: 15px;
}

.gif {
	vertical-align: top;
	margin-top: 15px;
}

p {
	vertical-align: top;
	margin-top: 15px;
}

/* Social Icons */

.socIcon {
	margin: 20px;
	display: inline-block;
}

.social {
	width: 62px;
	height: 62px;
	background-color: white;
}

.social:hover{
	transition: all 1s ease;
	-webkit-transform:scale(1.5); 
    -moz-transform:scale(1.5); 
    -ms-transform:scale(1.5); 
    -o-transform:scale(1.5); 
     transform:scale(1.5);
     z-index: +10;
}

footer {
	text-align: center;
	padding: 30px;
	color: white;
}